@{
    ViewBag.Title = "Wait For It";
}
<div class="type-views">

    <h1>@ViewBag.Title</h1>
    <h4>@ViewBag.Message</h4>

    <p>
        Theodosia writes me a letter every day.<br />
        I'm keeping her bed warm while her husband is away.<br />
        He's on the British side of Georgia.<br />
        He's tryin' to keep the colonies in line.<br />
        He can keep all of Georgia.<br />
        Theodosia, she's mine.<br />
        <br />
        Love doesn't discriminate<br />
        between the sinners<br />
        and the saints,<br />
        it takes and it takes and it takes<br />
        and we keep loving anyway.<br />
        <br />
        We laugh and we cry<br />
        and we break<br />
        and we make our mistakes.<br />
        And if there's a reason I'm by her side<br />
        when so many have tried<br />
        then I'm willing to wait for it.<br />
        I'm willing to wait for it.<br />
        <br />
        My grandfather was a fire and brimstone preacher,<br />
        <br />
        Preacher<br />
        Preacher<br />
        Preacher<br />
        <br />
        But there are things that the homilies and hymns won't teach ya.<br />
        <br />
        Teach ya<br />
        Teach ya<br />
        Teach ya<br />
        <br />
        My mother was a genius<br />
        <br />
        Genius<br />
        <br />
        My father commanded respect.<br />
        <br />
        Respect<br />
        Respect<br />
        <br />
        When they died they left no instructions.<br />
        Just a legacy to protect.<br />
        <br />
        Death doesn't discriminate<br />
        Between the sinners and the saints,<br />
        it takes and it takes and it takes<br />
        and we keep living anyway.<br />
        We rise and we fall<br />
        and we break<br />
        and we make our mistakes.<br />
        And if there's a reason I'm still alive<br />
        when everyone who loves me has died<br />
        I'm willing to wait for it.<br />
        I'm willing to wait for it.<br />
        Wait for it.<br />
        <br />
        Wait for it<br />
        Wait for it<br />
        Wait for it<br />
        <br />
        I am the one thing in life I can control<br />
        <br />
        Wait for it<br />
        Wait for it<br />
        Wait for it<br />
        Wait for it<br />
    </p>
    <h2>
        I am inimitable.
        <br />
        I am an original.
    </h2>
    <p>
        Wait for it<br />
        Wait for it<br />
        Wait for it<br />
        Wait for it<br />
        <br />
        I'm not falling behind or running late<br />
        <br />
        Wait for it<br />
        Wait for it<br />
        Wait for it<br />
        Wait for it<br />
        <br />
        I'm not standing still,<br />
        I am lying in wait<br />
        <br />
        Wait<br />
        Wait<br />
        Wait<br />
        <br />
        Hamilton faces an endless uphill climb<br />
        <br />
        Climb<br />
        Climb<br />
        Climb<br />
        <br />
        He has something to prove<br />
        He has nothing to lose<br />
        <br />
        Lose<br />
        Lose<br />
        Lose<br />
        Lose<br />
        <br />
        Hamilton's pace is relentless<br />
        he wastes no time<br />
        <br />
        Time<br />
        Time<br />
        Time<br />
        <br />
        What is it like in his shoes?<br />
        Hamilton doesn't hesitate.<br />
        He exhibits no restraint.<br />
        He takes and he takes and he takes<br />
        and he keeps winning anyway.<br />
        He changes the game.<br />
        He plays and he raises the stakes.<br />
        And if there's a reason<br />
        he seems to thrive when so few survive,<br />
        then God dammit<br />
        <br />
        I'm willing to wait for it.<br />
        <br />
        I'm willing to wait for it...<br />
        Life doesn't discriminate<br />
        between the sinners and the saints<br />
        it takes and it takes and it takes<br />
        We rise.<br />
        <br />
        We fall<br />
        And if there's a reason I'm still alive<br />
        When so many others have died,<br />
        then I'm willin' to-<br />
        <br />
        I'm willing to wait for it.<br />
        Wait for it<br />
        Wait for...<br />
        I'm willing to-<br />
        <br />
        Life doesn't discriminate<br />
        between the sinners and the saints<br />
        it takes and it takes and it takes<br />
        and we keep living anyway,<br />
        we rise and we fall and we break<br />
        and we make our mistakes<br />
        and if there's a reason<br />
        I'm still alive<br />
        when so many have died,<br />
        then I'm willing' to-<br />
        <br /><br /><br />
        Wait for it...
    </p>

</div>