@{
    ViewBag.Title = "How to Bug Us";
}

<div class="type-views">
    <h2>@ViewBag.Title</h2>
    <h3>@ViewBag.Message</h3>

    <address>
        You're a red string tied to my finger<br />
        A little love letter I carry with me<br />
        You're sun light, smoke rings and cigarettes<br />
        Old lines and kisses from silver screens<br />
        Oh dear, never saw you coming<br />
        Oh my, look what you have done<br />
        You're my favorite song<br />
        <br />
        Always on the tip of my tongue<br />
        You own me with whispers like poetry<br />
        Your mouth is a melody that I've memorized<br />
        So sweet, I hear it echo<br />
        Everywhere I go day and night<br />
        Oh dear, never saw you coming<br />
        Oh my, look what you have done<br />
        You're my favorite song<br />
        Always on the tip of my tongue<br />
        <br />
        The tip of my tongue<br />
        Oh dear, never saw you coming<br />
        Oh my, look what you have done<br />
        You're my favorite song<br />
        Always on<br />
        Oh dear, never saw you coming<br />
        Oh my, look what you have done<br />
        You're my favorite song<br />
        Always on the tip of my tongue<br />
    </address>

    <address>
        <strong>Contact Us:</strong>   <a href="mailto:Support@example.com">TheCivilWars@thecloset.com</a><br />
    </address>
</div>