@{
    ViewBag.Title = "Home Page";
}

<div class="type-views">
    <div class="jumbotron">
        <h1>The Closet <span class="glyphicon glyphicon-sunglasses"></span></h1>
        <p class="lead">Finally, a way to get your closet organized.</p>
        <p class="lead">Add all of your clothes to your online closet!</p>
        <p><a href="~/Home/About" class="btn btn-default btn-lg"><span class="glyphicon glyphicon-sunglasses"></span>Find Out More About Our Brand &raquo;</a></p>
    </div>
</div>

<div class="row">

    <div class="col-md-6 col-lg-6">
        <div class="type-views thumbnail">
            <div class="caption">
                <p>
                    <a class="btn btn-default btn-block btn-lg" href="~/Tops">
                        <img src="~/Content/Images/TopsIcon.png" />View or Add to Your Tops
                    </a>
                </p>
            </div>
        </div>
    </div>

    <div class="col-md-6 col-lg-6">
        <div class="type-views thumbnail">
            <div class="caption">
                <p>
                    <a class="btn btn-default btn-block btn-lg" href="~/Bottoms">
                        <img src="~/Content/Images/BottomsIcon.png" />View or Add to Your Bottoms
                    </a>
                </p>
            </div>
        </div>
    </div>
</div>

<div class="row">

    <div class="col-md-6 col-lg-6">
        <div class="type-views thumbnail">
            <div class="caption">
                <p>
                    <a class="btn btn-default btn-block btn-lg" href="~/Shoes">
                        <img src="~/Content/Images/ShoesIcon.png" />View or Add to Your Shoes
                    </a>
                </p>
            </div>
        </div>
    </div>

    <div class="col-md-6 col-lg-6">
        <div class="type-views thumbnail">
            <div class="caption">
                <p>
                    <a class="btn btn-default btn-block btn-lg" href="~/Accessories">
                        <img src="~/Content/Images/AccessoriesIcon.png" />View or Add to Your Accessories
                    </a>
                </p>
            </div>
        </div>
    </div>

</div>
